<a href={{ path('cart_index') }} class="text-decoration-none">
<span class="nav-link text-light">{% if total == 0 %} Votre panier est vide {% else  %} Mon panier : {{ total }} €{% endif %}</span>
</a>