{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Bienvenue à la librairie Colbert</h1>
        <p class="lead">Vous êtes sur le site de notre librairie, vous pourrez consulter et acheter des livres et vous faire livrer à domicile !</p>
        <hr class="my-4">
        <p>Pour accéder à la liste de nos ouvrages cliquez sur le lien ci-dessous</p>
        <a class="btn btn-primary btn-lg" href="{{ path('book') }}" role="button">Accéder aux livres</a>
    </div>
{% endblock %}
