{% extends 'base.html.twig' %}

{% block title %}Librairie Colbert{% endblock %}

{% block body %}
        <img src="{{ asset('assets/image/bannergradient600ppp.png') }}" class="img-fluid position-absolute top-0 start-0" alt="banner">
        <div class="position-relative" >
                <h1 class="text-light text-center mt-5">
                        Bienvenue à la meilleure librairie de France.
                </h1>
        </div>
{% endblock %}
