{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <img src="{{ asset('assets/image/gradient600ppp.png') }}" class="img-fluid position-absolute top-0 start-0"
         alt="banner">

<div class="example-wrapper position-relative">

    <br>
    <br>

    <h1 class="text-center" style="color: white"> À Propos: </h1>

    <br>
    <br>
<p>Une librairie est un magasin ou une boutique qui se consacre à vendre des livres. Il y a tout genre de librairies, à savoir, des petits locaux ayant quelques exemplaires ou des édifices entiers offrant des milliers de publications. Les librairies peuvent appartenir à une chaîne ayant de nombreuses succursales ou avoir un seul point de vente unique. Ces commerçants sont les libraires.

    Exemples : « Je suis allé à cinq librairies, mais je n’ai toujours pas trouvé le nouveau livre de mon auteur préféré », « Mon petit-fils travaille dans une librairie du centre-ville », « Il y a eu deux blessés lors de la tentative de vol dans la petite librairie ».
    <br>

    Il y a des librairies qui vendent des livres généraux sur divers sujets, tandis que d’autres sont spécialisées dans des domaines spécifiques. Il est possible, dans ce sens, de trouver des librairies scientifiques, des librairies sportives, etc.

    Les librairies peuvent également vendre des livres d’occasion. Ces magasins achètent des livres à des particuliers à un certain prix pour ensuite les revendre à un prix plus élevé, gagnant ainsi la différence.
    <br>

    Les librairies virtuelles, quant à elles, se consacrent à la vente de livres sur Internet. Ces livres peuvent être physiques (brochés, en papier) ou numériques (dits « e-books », à lire sur un ordinateur ou des appareils électroniques).

    Dans certains pays, les librairies sont des magasins qui, à l’instar des papèteries, vendent des journaux, des fournitures scolaires et divers objets de bureau : « Je vais à la librairie pour acheter le journal ».
    <br>

    Enfin, le terme librairie peut être utilisé comme synonyme de bibliothèque (local où se trouvent des livres pouvant être consultés à des fins de recherche ou d’études et pouvant être prêtés temporairement).</p>

</div>
{% endblock %}
