{% extends 'base.html.twig' %}

{% block title %}Votre recherche{% endblock %}

{% block body %}
    {% if app.request.method == 'POST' %}
        <div>
            {% if books | length == 0 %}
                <h4>Aucun résulat pour votre recherche.</h4>
            {% else %}
                <h3 class="mt-3">Vos résulats de recherche :</h3>
                {% for book in books %}
                    <div class="mt-3 p-3 bg-light border rounded">
                        <a href="{{ path('show_book', {id: book.id}) }}">
                            <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ book.titre }}</h6>
                            <div class="text-dark small p-1 rounded">
                                {{ book.author }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
